
.vs/ProyectosSDL/FileContentIndex/20721cad-288a-4e8e-95ce-b0dbb1258bb4.vsidx
.vs/ProyectosSDL/FileContentIndex/4247407a-9562-41ee-a88b-f3a48964178a.vsidx
.vs/ProyectosSDL/FileContentIndex/54b750ee-1d04-4ad2-9686-d827561dc46f.vsidx
.vs/ProyectosSDL/FileContentIndex/73da9aef-c09d-4f19-a520-12739262f793.vsidx
.vs/ProyectosSDL/FileContentIndex/92a7784a-e1a9-4fd5-bca6-799dc1b177d2.vsidx
.vs/ProyectosSDL/FileContentIndex/cb22438c-340f-4ecf-97af-fd728b63b6ea.vsidx
.vs/ProyectosSDL/FileContentIndex/d2dd598b-82b9-4124-8451-0add1fca38d4.vsidx
.vs/ProyectosSDL/FileContentIndex/f03c6472-0f78-4a82-8b74-4cfb47f4d1d0.vsidx
.vs/ProyectosSDL/FileContentIndex/fb9f1181-27d3-45b2-8e11-75b50797299c.vsidx
.vs/ProyectosSDL/FileContentIndex/fc40392d-ecb6-42e3-b039-05a202d93a98.vsidx
.vs/ProyectosSDL/v17/.suo
.vs/ProyectosSDL/v17/Browse.VC.db
.vs/ProyectosSDL/v17/DocumentLayout.json
.vs/ProyectosSDL/v17/ipch/AutoPCH/35393d3cd32271c2/MUSHROOM.ipch
.vs/ProyectosSDL/v17/Browse.VC.db-shm
.vs/ProyectosSDL/v17/Browse.VC.db-wal
.vs/ProyectosSDL/v17/Browse.VC.opendb
.vs/ProyectosSDL/v17/ipch/AutoPCH/35393d3cd32271c2/MUSHROOM.ipch
/HolaSDL/x64/Debug
/.vs
